---
layout: default

## inbox preview
inboxPreview: Kost je website jaarlijks handenvol geld en ben je toch niet tevreden? Je betaalt ons pas nadat je jaarlijkse betalingen van je huidige website zijn afgelopen.

## theme
background: f2f2f2
buttonBackground: df5c01
buttonHoverBackground: ac4700
buttonColor: ffffff

## logo
logoBackground: false
logo: https://marsvaardig.github.io/newsletter/images/marsvaardig/logo.png
logoAlign: center

## hero
heroImageBackground: ffffff
heroImage: https://marsvaardig.github.io/newsletter/images/marsvaardig/header.jpg

## settings
viewAsWebText: Bekijk in je browser
unsubscribeText: Uitschrijven

## company
company: Marsvaardig
address: Valleilaan 57, 3290 Diest
phone:

## full bleed
fullBleedBackground: 171d26
fullBleedColor: ffffff
#fullBleedText: test
---

<!-- TOM: START; starting a body element, heading has a larger top padding and should always be first -->
{% include single-col-start.html %}
{% include content/heading.html content='Een nieuwe website? Zonder dubbele kosten!' %}
<!-- TOM; END -->

<!-- TOM; START; add as many includes as needed, every heading / paragraph / image should be a new include -->
{% include content/body.html content='Kost je website jaarlijks handenvol geld en ben je toch niet tevreden?' %}
{% include content/body.html content='Het afkopen van je contract is waarschijnlijk een flinke financiële domper. Het verder zetten van een dienstverlening waarvan je niet tevreden is ook geen gezonde situatie. Daarom bieden wij je een <b>uitweg, zonder dubbele kosten</b>!' %}
{% include content/body.html content='Om je een idee te geven: een website kost bij ons slechts € 300,- per jaar met een éénmalig startbedrag van € 500,-.' padding='0 40px' %}
{% include content/heading.html content='Overstappen' %}
{% include content/body.html content='Klanttevredenheid staat bij ons centraal in de overname van je website.' %}
{% include content/body.html content='We bespreken samen je wensen en behoeften en <b>zetten een proefwebsite op</b>. Je kan de proefwebsite <b>uitgebreid testen</b> en beslist pas daarna of je met ons in zee gaat. Een auto koop je ook niet zonder een testrit te maken.' %}
{% include content/body.html content='Je betaalt ons pas nadat je jaarlijkse betalingen van je huidige website zijn afgelopen en we helpen je met het opzeggen van je contract. Hierdoor heb je <b>geen dubbele kosten</b>.' %}
{% include content/body.html content='Wij geloven in een goede samenwerking. Daarom hanteren wij <b>geen meerjarige contracten</b> en vragen <b>geen voorschot</b>.' %}
{% include content/body.html content='Waarom je website door ons laten maken? Je leest het op <a target="_blank" href="https://www.marsvaardig.eu/waarom">www.marsvaardig.eu/waarom</a>' %}
{% include content/body.html content='Heb je interesse? Beantwoord deze mail en ik neem snel contact met je op.' %}
{% include content/body.html content='Vriendelijke groet<br>Tom Janssens<br><br>013 22 98 22' padding="20px 40px 40px" %}
<!-- TOM; END -->

<!-- TOM: START; stopping a body element -->
{% include single-col-end.html %}
<!-- TOM; END -->
