<!-- Email Header : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;">
    <tr>
        <td{%if page.logoBackground != false %} bgcolor="#{{page.logoBackground}}"{% endif %} style="padding: 20px 0; text-align: {{page.logoAlign}}">
            <img src="/images/{{page.logo}}" width="200" height="50" alt="alt_text" border="0" style="height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
        </td>
    </tr>
</table>
<!-- Email Header : END -->